body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-ground{
    position: relative;
    width:280px; height:280px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
#sq{
    border-color: white;
    border-style: solid;
    border-width: 15px;
    width: 65%; height: 65%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#big-circale{
    border-color: white;
    border-style: solid;
    border-width: 15px;
    width: 50%; height: 50%;
    border-radius: 100%;
}
#small-circale{
    background-color: white;
    width: 10%; height: 10%;
    border-radius: 100%;
    position: absolute;
    top: 62px;
    right: 62px;
}