body{
    background-color: rgb(15, 161, 113);
    display: flex;
    justify-content: center;
}
#spin{
    position: relative;
    top: 10%;
}
#spin #arrow{
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    position: relative;
    top: -355px;
    left: 205px;
}
#spin #wheel{
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    box-shadow: rgb(19, 73, 55) 0px 0px 10px 10px;
    border-radius: 100%;
    transition: 2s;
}
#spin button{
    position: relative;
    top: -170px;
    left: -198px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    color: white;
    background-image: linear-gradient(red, yellow, green, blue, purple);
}