body{
    margin: 0px;
}
.nav{
    background-color: black;
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    position: relative;
}
.menu{
    list-style-type: none;
    left: 0px;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    position: relative;
    align-items: center;
}
.menu li{
    display: inline;
    margin-bottom: 10px;
}
.menu li a{
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0px;
}
.menu li a:hover{
    background-color: darkred;
    border-radius: 5px;
}
.submenu{
    list-style-type: none;
    display: none;
    position: absolute;
    padding-left: 0px;
    margin-top: 10px;
    
}
.menu li:hover .submenu{
    display: block;
}
.submenu li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
}
.search{
    position: absolute;
    right: 2%;
    border-radius: 10px;
    padding: 2px;
}

/*////////*/

.pic1{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.charecters{
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.charecters h1{
    position: absolute;
    top: 5%;
}
.charecters-pic{
    position: relative;
    width: 25%;
    height: 100%;
    padding: 135px 15px 55px 15px;
    box-sizing: border-box;
}
.charecters-pic div{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.charecters-pic div img{
    border-radius: 50%;
    width: 80%;
    height: 90%;
}
.charecters-pic div h3{
    color: black;
}


.about-game{
    background-color: darkred;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.about-game-pic{
    position: relative;
    width: 25%;
    height: 100%;
    padding: 25px 5px 25px 5px;
    box-sizing: border-box;
    color: black;
}

.about-game-pic div{
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#about-game div{
    background-color: transparent;
}
.about-game-pic div h1{
    color: white;
    position: relative;
    margin: 0;
}
.about-game-pic div p{
    color: white;
    position: relative;
    margin-top: 10%;
}
.about-game-pic div img{
    position: relative;
    width: 100%;
    height: 60%;
}
.about-game-pic div h2{
    position: relative;
    padding-left: 8%;
}
.about-game-pic div h3{
    position: relative;
    padding-left: 8%;
}

