@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
body{
    margin: 0px;
}
.nav{
    background-color: black;
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    position: relative;
}
.menu{
    list-style-type: none;
    left: 0px;
    padding-left: 0px;
    margin: 0px;
    display: flex;
    position: relative;
    align-items: center;
}
.menu li{
    display: inline;
    margin-bottom: 10px;
}
.menu li a{
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0px;
}
li img{
    width: 60px;
    height: 40px;
    border-style: none;
    background-image: black;
    padding: 0;
}
.menu li #logo{
    padding: 0;
}
.menu li a:hover{
    background-color: darkred;
    border-radius: 5px;
}
.submenu{
    list-style-type: none;
    display: none;
    position: absolute;
    padding-left: 0px;
    margin-top: 10px;
    
}
.menu li:hover .submenu{
    display: block;
}
.submenu li a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
}
.search{
    position: absolute;
    right: 2%;
    border-radius: 10px;
    padding: 2px;
    width: 15%;
    transition: width 0.5s;
}
.search:focus{
    width: 96%;
}

/*////////*/

.pic1{
    width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.charecters-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.charecters-col{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}
.charecters-pic{
    width: 100%;
}
.charecters-pic img{
    border-radius: 100%;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: darkred;
    transition: 2s;
}
.charecters-pic img:hover {
    transform: rotateY(360deg);
}
.charecters-pic h3{
    text-align: center;
}


.about-game-row{
    background-color: darkred;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.about-game-col{
    width: 25%;
    padding: 30px 10px 20px 10px;
    box-sizing: border-box;
}

.about-game-pic{
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 7px rgb(158, 25, 25);
}

#about-game-col .about-game-pic{
    background-color: transparent;
    box-shadow: none;
    border-style: none;
    color: white;
}

.about-game-pic img{
    width: 100%;
    height: 50%;
}

.about-game-pic h2,h3,h4{
    width: 100%;
    padding-left: 10px;
}


.price-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.price-col{
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}
.price-item{
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(197, 197, 197);
    transition: 1s;
}
.price-item:hover{
    box-shadow: 0px 0px 5px 7px darkgray;
    opacity: 0.7;
}
.price-item h2{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(197, 197, 197);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.price-item h4{
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(197, 197, 197);
    margin: 0;
    padding-left: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}
#sign{
    background-color: rgb(206, 205, 205);
    padding-bottom: 25px;
    padding-top: 25px;   
}
.price-item a{
    padding: 15px 20px 15px 20px;
    background-color: rgba(233, 43, 43, 0.904);
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.price-item a:hover{
    background-color: red;
}

.contact-row{
    width: 100%;
    background-color: rgb(206, 205, 205);
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 15px;
}
.contact-col{
    padding: 15px;
    box-sizing: border-box;
    padding-bottom: 15px;
}
#c-u-col{
    width: 40%;
}
#ms-col{
    width: 60%;
}
.contact-item{
    background-color: rgb(156, 151, 151);
    width: 100%;
}
.contact-item input{
    margin: 15px;
    margin-top: 0;
    margin-left: 5%;
    display: block;
    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    width: 90%;
    padding: 5px;
}
.contact-item button{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 4px;
}
#c-u{
    background-color: transparent;
    padding-left: 5%;
}
#c-u h3,h4,h5{
    margin-top: 5px;
    margin-bottom: 5px;
}
#ms{
    padding-top: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 7px darkgray;
}

.last-pic{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
}
.last-pic img{
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 40%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.footer a img{
    width: 45px;
    height: 35px;
    background-color: rgba(233, 43, 43, 0.904);
    padding: 10px;
}


@media screen and (max-width: 800px) {
    .charecters-col{
        width: 50%;
    }
    .about-game-col{
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .charecters-col{
        width: 50%;
    }
    .about-game-col{
        width: 50%;
    }
    .price-col{
        width: 50%;
    }
    .footer a img{
        width: 40px;
        height: 20px;
    }
    .contact-row #c-u-col{
        width: 60%;
    }
    .contact-row #ms-col{
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .charecters-col{
        width: 100%;
    }
    .about-game-col{
        width: 100%;
    }
    .price-col{
        width: 100%;
    }
    .footer a img{
        width: 15px;
        height: 10px;
    }
    .contact-row #c-u-col{
        width: 100%;
    }
    .contact-row #ms-col{
        width: 100%;
    }
}